* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --top-description-font-size: 1.2rem;
  --form-field-font-size: 0.8rem;
  --form-heading-size: 1.4rem;
  --margin-left: 35px;
}

body {
  background-color: black;
  font-family: 'Audiowide', sans-serif;
  height: 100vh;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main {
  display: flex;
  margin: auto;
  height: 100vh;
  background-color: rgb(247, 246, 246);
  overflow: hidden;
}

.left-section {
  width: 35%;
}
.right-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.form-container {
  background-color: white;
  padding: 2rem 0px 7rem 35px;
  width: 100%;
  position: relative;
}

.form-fields p {
  font-size: var(--form-field-font-size) !important;
  font-weight: 700;
  color: rgb(95, 94, 94);
}

.form-fields p > span {
  color: red;
  font-weight: 100;
}

form {
  display: flex;
  width: 45vw;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;
}

h2 {
  font-size: var(--form-heading-size);
}

.image-container {
  position: relative;
}

.logo-section {
  position: absolute;
  top: 13rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.logo-section img {
  width: 70px;
  height: 90px;
}
.logo-section span {
  color: white;
  font-size: 3.8rem;
}

.credits {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.credits a {
  color: #fff;
}

.top-description > p {
  width: 50vw;
  margin-left: var(--margin-left);
  font-weight: 700;
  font-size: var(--top-description-font-size);
}

input {
  outline: none;
  width: 18rem;
  padding: 0.4rem;
  margin-top: 3px;
  border: 1.2px rgb(221, 220, 220) solid;
  border-radius: 5px;
  
}

input:focus {
  border-color: blue;
  box-shadow: 2px 2px 5px 2px rgb(211, 208, 208);
}

input[type='password']:invalid {
  border: 1.2px red solid;
}

input[type='password']:valid {
  border: 1.2px green solid;
}

input:focus:invalid {
  border: 1.2px red solid;
}

button[type='submit'] {
  background-color: green;
  font-size: medium;
  padding: 12px 40px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-left: var(--margin-left);
  margin-top: 25px;
  cursor: pointer;
}

.bottom-section > p {
  margin-left: var(--margin-left);
  margin-bottom: 32px;
}

.bottom-section a {
  color: green;
  text-decoration: none;
}

#second-para {
  margin: 16px 0px 12px 35px;
}

.submit-section {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 100px;
  background-color: rgb(247, 246, 246);
  width: 100%;
}
