* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --form-field-font-size: 10px;
  --form-heading-size: 16px;
}

body {
  background-color: black;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.main {
  display: flex;
  margin: auto;
  width: 67%;
  height: 100vh;
  background-color: rgb(247, 246, 246);
}

.left-section {
  width: 35%;
}
.right-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.form-container {
  background-color: white;
  padding: 1rem 0px 5rem 30px;
  width: 100%;
  position: relative;
}

.form-fields p {
  font-size: var(--form-field-font-size) !important;
}

form {
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;

}

h2{
 font-size: var(--form-heading-size);
}

.image-container {
  position: relative;
}

.logo-section{
  position: absolute;
  top: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-section img {
  width: 3rem;
  height: 4rem;
}
.logo-section span {
  color: white;
  font-size: 3rem;
}

.top-description > p {
  width: 34vw;
  margin-left: 30px;
  font-weight: 700;
  font-size: 16px;
}

input {
  outline: none;
  width: 12rem;
  padding: 0.2rem;
  margin-top: 3px;
  border: 1.2px rgb(221, 220, 220) solid;
  border-radius: 5px;
}

input:focus {
  border-color: blue;
  box-shadow: ;
}

input[type="password"]:invalid{
  border: 1.2px red solid;
}

input[type="password"]:valid{
  border: 1.2px green solid;
}

button[type="submit"] {
  background-color: green;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-left: 30px;
  margin-top: 25px;
}

.bottom-section > p {
  margin-left: 30px;
  margin-bottom: 32px;
}

#second-para {
  margin: 16px 0px 12px 30px
}

.submit-section {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 100px;
  background-color: rgb(247, 246, 246);
  width: 100%;
}